.a0-banner-base.a0-banner-default
  background: #F5F5F5;
  background-size: 130%;
  background-position: center center;
  color: #5C666F;
  background-image: url('../img/wave.png');
  background-position: center center;

  &.horizontal
    padding: 0;

    .copy
      margin: 0;
      padding-top: 1.3em;

    .btn
      position: absolute;
      right: 1.5em;
      top: 2em;

    .logo
      position: absolute;
      top: 2.2em;
      left: 2em;
      margin: 0;
      width: 5em;
      height: 2em;
